.arguments {
  position: relative;
}

.arguments::before {
  content: "";
  display: block;
  height: 37px;
  width: 100%;
  background-image: url("../img/icon/triangle-mobile.svg");
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 768px 37px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.arguments__list {
  @include zero-list;
  text-align: center;
}

.arguments__item--illustration {
  @include blue-block;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: $tablet-width) {
  .arguments__item--illustration-direction {
    grid-template-columns: 2fr 1fr;
  }
}

.arguments__item--illustration:first-child {
  padding-top: 75px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.arguments__item--illustration:nth-last-of-type(2) {
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}
