.argument__title {
  @include zero-margin;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    max-width: 151px;
    font-size: 21px;
    line-height: 26px;
  }
}

.argument__title--standart-back {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.argument__text {
  @include zero-margin;
  line-height: 21px;
}

.argument--standart {
  text-align: left;
}

.argument__grid {
  list-style: none;
  padding: 0;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 672px;
    gap: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 1076px;
    gap: 104px;
  }
}

@media (min-width: $tablet-width) {
  .argument__wrapper--order {
    order: 2;
  }
}

.argument__advice {
  position: relative;
  padding: 0 0 0 50px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 158px 0 59px;
  }
}

.argument__advice:last-child {
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-bottom: initial;
  }
}

.argument__advice::before {
  display: block;
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 75px;
    height: 72px;
    left: 50%;
    transform: translate(-50%);
    top: 60px;
  }
}

@media (min-width: $tablet-width) {
  .argument__advice--gift {
    order: 3;
  }
}

.argument__advice--home {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: initial;
  }
}

.argument__advice--gift,
.argument__advice--food {
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 0;
  }
}

.argument__advice--home::before {
  background-image: url("../img/icon/icon-house.svg");
}

.argument__advice--gift::before {
  background-image: url("../img/icon/icon-gift.svg");
  left: 4px;
  top: 16px;

  @media (min-width: $tablet-width) {
    width: 64px;
    height: 75px;
    left: initial; //проверить не сломается ли
    top: initial;
  }
}

.argument__advice--food::before {
  background-image: url("../img/icon/icon-burger.svg");

  @media (min-width: $tablet-width) {
    width: 76px;
    height: 68px;
  }
}

li.argument--gray {
  background-color: #eeeeee;
}

.argument__number {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.argument__description {
  @include zero-margin;
  text-align: center;
  padding: 0 28px 33px;

  @media (min-width: $tablet-width) {
    line-height: 21px;
    max-width: 290px;
    display: inline-block;
  }
}

.argument__image {
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-height: 256px;
  }
}
