.arguments {
  position: relative;
}

.arguments::before {
  content: "";
  display: block;
  height: 37px;
  width: 100%;
  background-image: url("../img/icon/index-mobile-triangle-internal.svg");
  position: absolute;
  top: -1px;
  left: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.arguments__list {
  @include zero-list;
  text-align: center;
}

// .argument__block--white {
//   background-color: #81b3d2;
//   color: #ffffff;
// } //Отсутствует БЭМ блок
