.argument__title {
  @include zero-margin;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    max-width: 151px;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 12px;
  }
}

.argument__title--standart-back {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.argument__text {
  @include zero-margin;
  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .argument__text--small-box {
    width: 158px;
    margin: 0 auto;

    @media (min-width: $desktop-width) {
      width: 313px;
    }
  }

  .argument__text--middle-box {
    width: 185px;

    @media (min-width: $desktop-width) {
      width: 282px;
    }
  }

  .argument__text--large-box {
    width: 200px;

    @media (min-width: $desktop-width) {
      width: 244px;
    }
  }
}

.argument--standart {
  text-align: left;
}

.argument__grid {
  list-style: none;
  padding: 0;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 701px;
    gap: 82px;
  }

  @media (min-width: $desktop-width) {
    width: 1076px;
    gap: 100px;
  }
}

@media (min-width: $tablet-width) {
  .argument__wrapper {
    padding: 40px 32px 42px 32px;

    @media (min-width: $desktop-width) {
      padding: 47px 52px 57px 53px;
    }
  }
}

@media (min-width: $tablet-width) {
  .argument__wrapper--order {
    order: 2;
    padding: 43px 36px 41px 36px;

    @media (min-width: $desktop-width) {
      margin-top: 0;
      padding: 51px 78px 53px 79px;
    }
  }
}

.argument__advice {
  position: relative;
  padding: 0 0 0 50px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 158px 0 59px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: initial;
    padding: 158px 0 81px;
    width: 282px;
  }
}

.argument__advice:last-child {
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.argument__advice::before {
  display: block;
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 75px;
    height: 72px;
    left: 50%;
    transform: translate(-50%);
    top: 60px;
  }
}

@media (min-width: $tablet-width) {
  .argument__advice--gift {
    order: 3;
  }
}

.argument__advice--home {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .argument__advice--food {
    width: 313px;
    margin-right: 21px;
  }

  .argument__advice--gift {
    width: 244px;
  }
}

.argument__advice--gift,
.argument__advice--food {
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 158px;
  }
}

.argument__advice--home::before {
  background-image: url("../img/icon/icon-house.svg");
}

.argument__advice--gift::before {
  background-image: url("../img/icon/icon-gift.svg");
  left: 4px;
  top: 16px;

  @media (min-width: $tablet-width) {
    width: 64px;
    height: 75px;
    left: 50%;
    top: 60px;
  }
}

.argument__advice--food::before {
  background-image: url("../img/icon/icon-burger.svg");

  @media (min-width: $tablet-width) {
    width: 76px;
    height: 68px;
    top: 63px;
  }
}

li.argument--gray {
  background-color: #eeeeee;
}

.argument__number {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.argument__description {
  @include zero-margin;
  text-align: center;
  padding: 0 28px 33px;

  @media (min-width: $tablet-width) {
    line-height: 21px;
    max-width: 290px;
    display: inline-block;
    padding: 0;
  }
}

.argument__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
