.contacts-input {
  width: 280px;
  background: linear-gradient(to right, #f2f2f2 79%, #e6e6e6 21%);
  padding-right: 60px;

  @media (min-width: $tablet-width) {
    width: 648px;
    background: linear-gradient(to right, #f2f2f2 91%, #e6e6e6 9%);
  }

  @media (min-width: $desktop-width) {
    width: 315px;
    background: linear-gradient(to right, #f2f2f2 79%, #e6e6e6 21%);
  }
}

.contacts-input::placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}
