.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
}

.copyright__icon {
  display: block;
  padding: 5px;
}

.copyright__icon:focus {
  fill: #81b3d2;
}

.copyright__icon:active {
  fill: #000000;
  fill-opacity: 0.3;
}
