.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
  margin-right: 9px;
}

.copyright__icon {
  display: block;
  padding: 5px;
  margin-top: 5px;
}

.copyright__icon-htmlacademy {
  fill: #000000;
}

.copyright__icon-htmlacademy:hover {
  fill: #81b3d2;
}

.copyright__icon-htmlacademy:active {
  fill: #000000;
  fill-opacity: 0.3;
}
