.features {
  @include zero-margin;
}

.features__description {
  @include zero-margin;
  color: #333333;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .features {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 520px;
    height: 110px;
    margin-bottom: 28px;
  }

  .features__description {
    width: max-content;
  }
}
