.features-header {
  padding: 0 28px;
}

.features-header__title {
  @include zero-margin;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}
