.features {
  @include zero-margin;
  padding-top: 32px;
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 520px;
    height: 110px;
    margin-bottom: 28px;
  }
}

.features__description {
  @include zero-margin;
  color: #333333;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  padding: 0 28px;

  @media (min-width: $tablet-width) {
    width: max-content;
  }
}
