.form-list {
  @include zero-list;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    @include zero-margin;
    margin-right: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 79px;
    width: auto;
  }
}

.form-list__item {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.form-list__item:last-child {
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form-list__label {
  align-self: center;
}

#surname { //нежелательное использование селектора #
  width: 193px;
}

#lastname {
  width: 194px;
}

.form-list__span {
  display: block;
  position: relative;
  margin-left: 21px;
  margin-bottom: 15px;
}

.form-list__span::after {
  display: block;
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border: none;
  right: 12px;
  bottom: -62px;
  background-image: url("../img/icon/phone.svg");
  background-repeat: no-repeat;
}

.form-list__span--email::after {
  background-image: url("../img/icon/mail.svg");
}

.form-list__span--hidden {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.form-list--contacts {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-width) {
      width: 960px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 79px;
    }
  }
}

.form-list__span--visible {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
