.form-list {
  @include zero-list;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    @include zero-margin;
    margin-right: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.form-list__item {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.form-list__item:last-child {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form-list__label {
  align-self: center;
  margin-right: 14px;
}

.form-list__span {
  display: block;
  position: relative;
  margin-left: 21px;
  margin-bottom: 10px;

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 0;
    align-items: center;
    width: max-content;
    margin-right: 18px;
  }
}

.form-list__label--contacts {
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    margin-right: 0;
  }
}

.form-list__label--contacts::after {
  display: block;
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border: none;
  right: 13px;
  bottom: 14px;
  background-image: url("../img/icon/phone.svg");
  background-repeat: no-repeat;
}

.form-list__label--contacts-email::after {
  background-image: url("../img/icon/mail.svg");
  right: 12px;
  bottom: 12px;
}

.form-list__span--hidden {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.form-list--contacts {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-width) {
      width: 960px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 79px;
    }
  }
}

.form-list__span--visible {
  @media (min-width: $desktop-width) {
    display: none;
  }
}


.form-list__item--contacts {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
