.form-list {
  @include zero-list;
  width: 280px;
  margin: 0 auto;
}

.form-list__item {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.form-list__item:last-child {
  margin-bottom: 46px;
}

.form-list__label {
  align-self: center;
}

#surname { //нежелательное использование селектора #
  width: 193px;
}

#lastname {
  width: 194px;
}

.form-list__span--hidden {
  display: none;
}

.form-list__span {
  display: block;
  margin-left: 21px;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .form-list__span--hidden {
    display: none;
  }

  .form-list {
    @include zero-margin;
    margin-right: 0;
    padding: 0;
  }

  .form-list__item:last-child {
    margin: 0;
  }

  .form-list--contacts {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .form-list__span--visible {
    display: none;
  }

  .form-list__span--hidden {
    display: contents;
  }

  .form-list {
    margin-left: 79px;
    width: auto;
  }

  .form-list--contacts {
    width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 79px;
  }
}
