@media (min-width: $tablet-width) {
  form { //можно ли повесить класс форм на саму форму? такой класс уже есть в теге section если применить грид к секции, раскладка грид  не работала
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 648px;
    margin: 0 auto;

    @media (min-width: $desktop-width) {
      width: 960px;
      margin: 0 auto;
    }
  }

  .form__block:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .form__block:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }

  .form__block:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .form__block:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .form__block:nth-child(5) {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
}

.form__block {
  @include zero-margin;
  border: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__subtitle {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 25px;
  display: block;
  position: relative;
  font: inherit;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 60px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}

.form__subtitle::before {
  display: block;
  position: absolute;
  overflow-x: hidden;
  width: 100vw;
  content: "";
  background-color: #e5e5e5;
  margin-left: calc(50% - 50vw);
  height: 1px;
  left: 0;
  top: -18px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__footnote {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    text-align: end;
    align-self: center;
  }
}

@media (min-width: $tablet-width) {
  .form__subtitle--contacts {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 40px;

    @media (min-width: $desktop-width) {
      position: relative;
    }
  }

  .form__subtitle--sights {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 47px;
    margin-top: 51px;

    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }

  .form__subtitle--emotions {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .form__subtitle--contacts::before {
    display: block;
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    left: -340px;
    top: 50%;
    background-color: #dbdbdb;
  }

  .form__subtitle--contacts::after {
    display: block;
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    right: -340px;
    top: 50%;
    background-color: #dbdbdb;
  }

  .form__subtitle--sights {
    position: relative;
  }

  .form__subtitle--sights::before {
    display: block;
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    left: -340px;
    top: 50%;
    background-color: #dbdbdb;
  }

  .form__subtitle--sights::after {
    display: block;
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    right: -340px;
    top: 50%;
    background-color: #dbdbdb;
  }

  .form__subtitle--emotions::before {
    display: block;
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    left: -340px;
    top: 50%;
    background-color: #dbdbdb;
  }

  .form__subtitle--emotions::after {
    display: block;
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    right: -340px;
    top: 50%;
    background-color: #dbdbdb;
  }
}
