.gallery {
  position: relative;
  width: 299px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 54px;

  @media (min-width: $tablet-width) {
    width: 458px;
    margin: 0 auto;
  }
}

.gallery::after {
  display: block;
  position: absolute;
  overflow-x: hidden;
  width: 100vw;
  content: "";
  background-color: #e5e5e5;
  margin-left: calc(50% - 50vw);
  height: 1px;
  bottom: -32px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.gallery__header {
  @include zero-margin;
}

.gallery__header--title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 35px;
  }
}

.gallery__description {
  @include zero-margin;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 77px;
    width: 445px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 79px;
  }
}

@media (min-width: $tablet-width) {
  .gallery__video {
    margin: 0 60px;
  }
}

video {
  width: 100%;
}
