.gallery {
  width: 299px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 43px;
}

.gallery__header {
  margin: 0;
  padding-bottom: 20px;
}

.gallery__header--title {
 @include zero-margin;
 font-size: 18px;
 line-height: 26px;
}

.gallery__description {
  margin: 0;
}

.gallery__video {

}

video {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .gallery {
    width: 458px;
    margin: 0 auto;
  }

  .gallery__video {
    margin: 0 60px;
  }

  .gallery__header--title {
    font-size: 30px;
    line-height: 26px;
  }
}

