.greeting {
  margin-bottom: 33px;
}

.greeting__text {
  display: block;
  width: 100%;
}

.greeting__wrapper {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .greeting {
    margin: 0 auto;
    margin-bottom: 43px;
  }

  .greeting__text {
    background-image: url(../img/png/tablet-intro.png);
    max-height: 519px;
    background-size: 0 100%;
  }
}

@media (min-width: $desktop-width) {
  .greeting {
    margin-bottom: 55px;
  }
}
