.greeting {
  position: relative;
  background-image: url("../img/background/back-mobile-index@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 44px;
    background-image: url("../img/background/back-tablet-index@1x.jpg");
  }

  @media (min-width: $desktop-width) {
    position: relative;
    // margin-bottom: 102px;
    // padding-top: 78px;
    // padding-bottom: 90px;
    padding-top: 21px;
    padding-bottom: 0;
    margin-bottom: 55px;
    background-image: url("../img/background/back-desktop-index@1x.jpg");
  }
}

.greeting::after {
  content: "";
  display: block;
  height: 58px;
  width: 100%;
  background-image: url("../img/icon/triangle-desktop.svg");
  position: absolute;
  bottom: -1px;
  left: 0;
  background-repeat: no-repeat;
  background-size: 1200px 57px;
  background-position: top;
}

.greeting--form-catalog {
  position: relative;
  background-image: url("../img/background/back-mobile-form@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 62px;
    background-image: url("../img/background/back-tablet-form@1x.jpg");
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-bottom: 98px;
    padding-top: 78px;
    padding-bottom: 90px;
    background-image: url("../img/background/back-desktop-form@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.greeting--form {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 110px;
  }
}

.greeting__text {
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-height: 519px;
    background-size: 0 100%;
  }
}

.greeting__wrapper {
  margin: 0 auto;
  padding: 90px 20px 85px;

  @media (min-width: $tablet-width) {
    padding: 98px 153px 91px;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 370px 90px;
  }
}

.greeting__wrapper--catalog {
  padding-top: 51px;
  padding-bottom: 67px;

  @media (min-width: $tablet-width) {
    padding-top: 115px;
    padding-bottom: 117px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    padding-bottom: 31px;
  }
}

.greeting__wrapper--form {
  padding-top: 50px;
  padding-bottom: 68px;

  @media (min-width: $tablet-width) {
    padding-top: 116px;
    padding-bottom: 115px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    padding-bottom: 30px;
  }
}

.greeting__text--catalog {
  width: 229px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: initial;
  }
}

// .greeting--form-catalog::after {
//   margin-top: 0;
// }
