.impressions-list {
  @include zero-list;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 280px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 90px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-right: 0;
  }
}

.impressions-list__item {
  width: 100%;
  padding: 0;
  margin-bottom: 21px;
  margin-left: -14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }
}

.impressions-list__item:last-child {
  margin-bottom: 0;
}

.impressions-list__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
}

.impressions-list__option {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 26px;
  text-transform: none;
}

.impressions-list__label input[type="radio"] + .impressions-list__element {
  display: block;
  position: relative;
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #f2f2f2;
  // background-image: url("../img/icon/radio-hover.svg");
  // background-repeat: no-repeat;
  background-position: center;
  margin-right: 23px;
  // opacity: 0.4;
  transition: opacity 0.2s ease;
}

.impressions-list__label input[type="radio"] + .impressions-list__element:hover {
  background-color: #e5e5e5;
}

.impressions-list__label input[type="radio"] + .impressions-list__element:active {
  background-color: #d5d5d5;
}

.impressions-list__label input[type="radio"]:checked + .impressions-list__element::after {
  // background-image: url("../img/icon/radio-hover-on.svg");
  display: block;
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #333333;
  z-index: 2;
}

.impressions-list__label input[type="radio"]:checked + .impressions-list__element:active::after {
  opacity: 0.3;
}

// @media (min-width: $tablet-width) {
//   .impressions-list__item:last-child {
//     margin-bottom: 0;
//   }
// }

@media (min-width: $desktop-width) {
  .impressions-list::after {
    display: block;
    position: absolute;
    content: "";
    width: 1px;
    height: 292px;
    left: 480px;
    top: -80px;
    background-color: #dbdbdb;
  }
}
