.inner-list {
  @include zero-margin;
  list-style: none;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    width: 672px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    width: 1076px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
  }
}

.inner-list__item:first-child {
  position: relative;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
  }
}

.inner-list__item:first-child::after {
  display: block;
  content: "";
  border-bottom: 1px solid #d6d6d6;
  bottom: 25px;
  width: 100%;
  position: absolute;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.inner-list__item:nth-child(2) {
  position: relative;
}

.inner-list__item:nth-child(2)::after {
  display: block;
  content: "";
  border-bottom: 1px solid #d6d6d6;
  bottom: 25px;
  width: 100%;
  position: absolute;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.inner-list__item {
  padding: 0 0 50px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 41px 0 24px;
    flex-direction: column;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    max-width: 290px;
    margin: 0 auto;
    // padding: 43px 43px 62px 42px;
  }
}

.inner-list__item:last-child {
  padding-bottom: 24px;
}

.inner-list__title {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    max-width: 155px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.inner-list__number {
  display: block;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    line-height: 21px;
  }
}

.inner-list__text {
  margin: 0;

  @media (min-width: $tablet-width) {
    line-height: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
  }
}
