.page-footer {
  background-color: #ffffff;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer--catalog {
    margin-top: -21px;
    padding-top: 0;

    @media (min-width: $desktop-width) {
      padding-top: 41px;
    }
  }

  .page-footer--form {
    padding-top: 94px;
  }
}

.page-footer__wrapper {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 45px;
    padding-top: 5px;
  }
}

.page-footer__wrapper--catalog {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__wrapper--form {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__socials {
    padding-right: 40px;
  }

  .page-footer__copyright {
    padding-top: 5px;
    padding-right: 5px;
  }
}

.page-footer__title {
  @include zero-margin;
}

.page-footer__link {
  display: block;
  margin: 0;
  padding: 5px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}
