.page-footer {
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    padding: 36px 0;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: $tablet-width) {
  .page-footer--catalog {
    padding-top: 0;
    margin-top: -22px;

    @media (min-width: $desktop-width) {
      margin-top: 0;
      padding-top: 24px;
      padding-bottom: 36px;
    }
  }
}

.page-footer__title {
  @include zero-margin;
  padding-top: 33px;
  padding-bottom: 31px;
}

.page-footer__title--catalog {
  padding-top: 26px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-footer__link {
  display: block;
  margin: 0;
  padding: 5px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}
