.personal-data::placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

// #name {
//   @media (min-width: $tablet-width) {
//   width: 216px;

//   @media (min-width: $desktop-width) {
//     width: 350px;
//   }
// }

// #surname {
//   @media (min-width: $tablet-width) {
//   width: 178px;

//   @media (min-width: $desktop-width) {
//     width: 312px;
//   }
// }

// #lastname {
//   @media (min-width: $tablet-width) {
//     width: 180px;

//   @media (min-width: $desktop-width) {
//     width: 314px;
//   }
// }
