.personal-data::placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  #name {
    width: 216px;

    @media (min-width: $desktop-width) {
      width: 350px;
    }
  }

  #surname {
    width: 178px;

    @media (min-width: $desktop-width) {
      width: 312px;
  }

  #lastname {
    width: 180px;

    @media (min-width: $desktop-width) {
      width: 314px;
  }
}


