.popup {
  //display: none;
  position: relative;
  margin-top: 150px; //убрать позже
  margin-bottom: 30px; //убрать, сделал для визуального разделения
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  border: none;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.popup--warning {
  height: 280px;
}

.popup--send {
  height: 323px;
}

.popup__head {
  @include zero-margin;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.popup__description {
  @include zero-margin;
  text-align: center;
  padding-bottom: 30px;
}

.popup__warning {
  display: block;
  text-align: center;
  width: 180px;
  margin: 0 auto;
}

.popup__closed {
  display: block;
  width: 280px;
  margin: 0 auto;
}
