.review {
  width: 280px;
  margin: 0 auto;
}

.review__header {
  @include zero-margin;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.review__header--title {
  padding-bottom: 42px;
}

.review__description {
  @include zero-margin;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .review {
    width: 435px;
    margin-bottom: 37px;
  }

  .review__header--title {
    font-size: 30px;
  }
}
