.search-hotel__wrapper {
  text-align: center;
}

.search-hotel__title {
  @include zero-margin;
  font-size: 21px;
  line-height: 26px;
  padding-top: 33px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding-top: 55px;
    padding-bottom: 33px;
  }
}

.search-hotel__description {
  @include zero-margin;
  width: 280px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    width: 397px;
    padding-bottom: 0;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
    margin-bottom: 45px;
  }
}

.search-hotel__button {
  @include btn;
  @include search-hotel;
  width: 280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    width: 458px;
    margin: 0 auto;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}

.search-hotel__button:hover {
  background-color: #669ec0;
}

.search-hotel__button:active {
  background-color: #5496bd;
  color: rgba(225, 225, 225, 0.3);
}

// .search-hotel__button--disabled {
//   background-color: #e5e5e5;
//   cursor: default;
//   pointer-events: none;
// }
