.site-list {
  @include zero-list;


  @media (min-width: $tablet-width) {
    display: flex;
    align-content: center;
    background-color: #ffffff;
  }
}

.site-list__item:not(:last-child) {
  box-shadow: 0 1px 0 0 #01010133;

  @include tablet {
    box-shadow: none;
  }
}

.site-list__link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 5px;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    cursor: pointer;
    padding: 15px 0;
    width: 153px;
  }

  @media (min-width: $desktop-width) {
    width: 239px;
  }
}

.site-list__item:last-child {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.2) 100%);

  @include tablet {
    background: none;
  }
}

.site-list__link:active {
  color: rgba(225, 225, 225, 0.3);
}

.site-list__item a[href]:hover {
  background-color: #669ec0;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    color: #81b3d2;
    transition: color 0.2s ease, opacity 0.2s ease;
  }
}

.site-list__item a[href]:active {
  background-color: #669ec0;
  color: rgba(225, 225, 225, 0.3);

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.3);
    transition: color 0.2s ease, opacity 0.2s ease;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item:nth-child(3) {
    margin-left: auto;
  }

  .site-list__item--current a {
    color: #766357;
  }
}
