.video__header {
  width: 266px;
  margin: 0 auto;
}

.video__title {
  margin: 0;
  padding-bottom: 40px;
  text-align: center;
}

.video__description {
  margin: 0;
  padding-bottom: 33px;
  text-align: center;
}

.video__content {
  width: 100%;
}

.video__poster {
  display: block;
  width: 648px;
  margin: 0 auto;
}

.video__controls {
  box-sizing: content-box;
  position: relative;
  width: 280px;
  height: 111px;
  top: -45px;
  padding: 0;
  margin: 0 auto;
}

.video__scale {
  position: relative;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video__bar {
  position: absolute;
  margin-left: 22px;
  top: 50%;
  background-color: rgba(225, 225, 225, 0.2);
  height: 3px;
  width: 235px;
}

.video__toggle {
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: 56px;
  width: 13px;
  height: 13px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.video__buttons {
  display: flex;
  height: 66px;
  background-color: #f2f2f2;
}

.video__button {
  align-self: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.video__button--hidden {
  display: none;
}

.video__button--replay {
  margin-left: 25px;
  margin-right: auto;
}

.video__button--subtitles {
  margin-right: 31px;
}

.video__button--fullscreen {
  margin-right: 23px;
}

@media (min-width: $tablet-width) {
  .video__header {
    width: 445px;
    margin: 0 auto;
  }

  .video__title {
    font-size: 30px;
    line-height: 26px;
  }

  .video__description {
    width: 445px;
    margin: 0 auto;
    text-align: center;
  }

  .video__content {
    display: block;
    margin: 0 auto;
  }

  .video__controls {
    width: 648px;
    height: 93px;
    background-color: rgba(0, 0, 0, 0.6);
    top: -93px;
  }

  .video__scale {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-color: initial;
    height: 93px;
  }

  .video__button--hidden {
    display: flex;
    background-color: initial;
  }

  .video__bar {
    width: 389px;
    margin: 0;
    background-color: rgba(225, 225, 225, 0.2);
    left: 93px;
  }

  .video__toggle {
    left: 204px;
  }

  .video__button--replay {
    position: absolute;
    margin-right: auto;
    left: 35px;
  }

  .video__button--subtitles {
    position: absolute;
    margin: 0;
    right: 92px;
  }

  .video__button--fullscreen {
    position: absolute;
    margin: 0;
    right: 41px;
  }

  .video__buttons {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .video__content video {
    display: block;
    margin: 0 auto;
    width: 800px;
  }

  .video__controls {
    width: 800px;
  }

  .video__button--replay {
    margin-left: 0;
  }

  .video__button--fullscreen {
    right: 37px;
  }

  .video__button--subtitles {
    display: none;
  }

  .video__bar {
    width: 540px;
  }

  .video__poster {
    width: 800px;
  }
}
