.video__header {
  width: 266px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 445px;
  }
}

.video__title {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
  }
}

.video__description {
  margin: 0;
  margin-bottom: 33px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 445px;
    margin: 0 auto;
    margin-bottom: 68px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.video__content {
  width: 100%;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.video__poster {
  display: block;
  width: 648px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.video__controls {
  box-sizing: content-box;
  position: relative;
  width: 280px;
  height: 111px;
  top: -45px;
  padding: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 93px;
    background-color: rgba(0, 0, 0, 0.6);
    top: -93px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.video__scale {
  position: relative;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    background-color: initial;
    height: 93px;
  }
}

.video__bar {
  position: absolute;
  top: 15px;
  left: 22px;

  @media (min-width: $tablet-width) {
    top: 38px;
    left: 93px;
  }
}

// .video__bar {
//   position: absolute;
//   margin-left: 22px;
//   top: 50%;
//   background-color: rgba(225, 225, 225, 0.2);
//   height: 3px;
//   width: 235px;

//   @media (min-width: $tablet-width) {
//     width: 389px;
//     margin: 0;
//     background-color: rgba(225, 225, 225, 0.2);
//     left: 93px;
//   }

//   @media (min-width: $desktop-width) {
//     width: 540px;
//   }
// }

// .video__toggle {
//   box-sizing: content-box;
//   position: absolute;
//   top: 50%;
//   margin-top: -5px;
//   left: 56px;
//   width: 13px;
//   height: 13px;
//   padding: 0;
//   background-color: #ffffff;
//   border-radius: 50%;
//   cursor: pointer;

//   @media (min-width: $tablet-width) {
//     left: 204px;
//   }
// }

.video__buttons {
  display: flex;
  height: 66px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.video__button {
  align-self: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 3px;
}

.video__button-control {
  fill: #5c6870;

  @media (min-width: $tablet-width) {
    fill: #ffffff;
  }
}

.video__button-control:hover {
  fill: #333333;

  @media (min-width: $tablet-width) {
    fill: #ffffff;
    opacity: 0.6;
  }
}

.video__button-control:active {
  opacity: 0.3;
}

.video__button--hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    background-color: initial;
  }
}

.video__button--replay {
  margin-left: 25px;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    margin-right: auto;
    left: 32px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.video__button--subtitles {
  margin-right: 31px;

  @media (min-width: $tablet-width) {
    position: absolute;
    margin: 0;
    right: 92px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.video__button--fullscreen {
  margin-right: 23px;

  @media (min-width: $tablet-width) {
    position: absolute;
    margin: 0;
    right: 41px;
  }

  @media (min-width: $desktop-width) {
    right: 37px;
  }
}
